[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #7A003C;
  --md-primary-fg-color--light: #9a1a56;
  --md-primary-fg-color--dark:  #5a0028;
  --md-accent-fg-color:         #FDBF57;
}
